<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Nutri - App</strong> 
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" name="email" [(ngModel)]="user.email" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary" ></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="secondary" tappable ><strong (click)="forgotPass()">Esqueceu a senha?</strong></p>

    <div>
      <button ion-button icon-start block color="dark" tappable (click)="login(user)">
        <ion-icon name="log-in"></ion-icon>
        Entrar
      </button>

      <p text-center ion-text color="secondary">Ou Cadastrar com:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="registerPage()">Novo aqui? <strong color="primary">Cadastrar</strong></span>
    </div>

  </div>
</ion-content>
