<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="loading == false">
  <div *ngIf="show_content">
    The world is your oyster.
    <p>
      If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    </p>
  
    <button ion-button color="secondary" block (click)="confirm()">SELECT PHOTO</button>
  
    <button ion-button color="danger" block (click)="openImagePickerCrop()">SELECT PHOTO(CROP)</button>
  
    <div style="width: 200px; height: 200px;">
      <img [src]="user? user.photo: 'falha ao carregar'">
    </div>
  </div>
  <img [src]="image" alt="image" *ngIf="image">

  <button ion-button large (click)="onTakePicture()">Take photo</button>
</ion-content>

<ion-content *ngIf="loading == true">
  <div class="div-svg">
    <svg class="svg" width="180" height="180" viewBox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" stroke="#007FFF">
      <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
              <path d="M36 18c0-9.94-8.06-18-18-18">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="1s"
                      repeatCount="indefinite"/>
              </path>
          </g>
      </g>
    </svg>
  </div>

</ion-content>
