page-home {
    .myalert-confirm .alert-message{
        padding: 0;
        padding: 16px !important;
        color:black  !important;
    }

    .myalert-header .alert-head{
        padding: 0;
    }

    
    ion-loading {
       
        margin: auto;
        margin-top: 60%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: unset;
        z-index: 1000;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: table;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        contain: strict;

        ion-backdrop{
            opacity: 0 !important;
        }

        ion-spinner > svg {
            position: relative;
            margin: 0 auto;
            width: 50px !important;
            height: 50px !important;
            
        }

        .spinner-crescent circle {
            stroke-width: 8px;  
        }

        .loading-md .loading-wrapper {
            background: #ffffff;
        }
        
    }

    .div-svg{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-50px;
        margin-left:-39px;
    }

    img{
        width: 400px !important;
        height: 400px !important;
    }


    

}
