// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

    /*

    .myalert-confirm .alert-message{
        padding: 0;
        padding: 16px !important;
        color:black  !important;
    }

    .myalert-header .alert-head{
        padding: 0;
    }

    
    ion-loading {
       
        margin: auto;
        margin-top: 60%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: unset;
        z-index: 1000;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: table;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        contain: strict;

        ion-backdrop{
            opacity: 0 !important;
        }

        ion-spinner > svg {
            position: relative;
            margin: 0 auto;
            width: 50px !important;
            height: 50px !important;
            
        }

        .spinner-crescent circle {
            stroke-width: 8px;  
        }

        .loading-md .loading-wrapper {
            background: #ffffff;
        }
        
    }

    */

    
    
